<app-header></app-header>
<h2>Hello Angular</h2>
{{title}}
<router-outlet></router-outlet>
<button (click)="textIsVisible = !textIsVisible">Click</button>
<p *ngIf="textIsVisible">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatibus sunt fugiat veniam reiciendis qui itaque recusandae porro omnis exercitationem autem sint at, eveniet, temporibus obcaecati odio? Rem fugit nostrum, fugiat quas dignissimos nisi laudantium suscipit quia voluptatum, facilis modi.</p>
<a routerLink="/">Home</a>
<a routerLink="/support">Support</a>
<a routerLink="/contacts">Contacts</a>
<app-footer></app-footer>
